.header-container {
   display: flex;
   flex-direction: column;
}

.header-image {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-image img {
   width: 40%;
   height: 40%;
}
.header-content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   h1 {
      font-family: $--font-family;
      font-weight: 200;
      font-size: 50px;
      line-height: 75px;
      letter-spacing: -0.02em;
      color: #fff;
      padding-bottom: 1rem;
      /*efecto maquina de escribir*/
      white-space: nowrap;
      border-right: 2px solid;
      width: 19ch;
      animation: typingt 3s steps(19), blink 0.5s infinite step-end alternate;
      overflow: hidden;
   }
   @keyframes typingt {
      from {
         width: 0;
      }
   }
   @keyframes blink {
      50% {
         border-color: transparent;
      }
   }
   a {
      padding: 0;
   }
}

@media screen and (max-width: 1050px) {
}
@media screen and (max-width: 800px) {
   .header-content h1 {
      font-weight: 200;
      font-size: 40px;
      text-align: center;
      white-space: normal;
      border-right: none;
      width: auto;
      animation: none;
      overflow: none;
   }
   .header-image img {
      width: 50%;
      height: 40%;
   }
}
@media screen and (max-width: 550px) {
   .header-container {
      padding: 2rem 4rem;
   }

   .header-image img {
      width: 100%;
      height: 100%;
   }

   .header-content h1 {
      font-weight: 200;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: -0.02em;
      text-align: center;
      white-space: normal;
      border-right: none;
      width: auto;
      animation: none;
      overflow: none;
   }
}
