@import url(//db.onlinewebfonts.com/c/a9db66cbaf8b1781ee08aeaae793c61b?family=New+Rail+Alphabet+White);

$--color-bg: #040c18;
$--color-footer: #031b34;
$--color-blog: #042c54;
$--color-text: #81afdd;
$--color-subtext: #ff8a71;
$--color-button: #ff4820;
/* $--font-family: Arial, Helvetica, sans-serif; */
$--font-family: "New Rail Alphabet White", Arial, Helvetica, sans-serif;
